$background-color: #ffffff;
$primary-color: #ff3998;
$secondary-color: #f0dcc5;
$third-color: #f3b562;
$orange-color: #FF8139;
$dark-4: #999999;
$dark-3: #777777;
$dark-2: #555555;
$dark-1: #111111;
$black: #000000;
$light-2: #EEEEEE;
$light-3: #CCCCCC;